* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  transition: background 1s, color 1.5s; /* Smooth transition */
}

/* Light Theme */
.light-theme {
  background: #ffffff; /* Light background */
  color: #333333; /* Light text color */
}

.light-theme .btn {
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  color: hsl(200, 100%, 50%);
}

.light-theme .new-item-form input,
.light-theme .edit-input {
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 95%); /* Light input background */
  color: #333333; /* Light input text color */
}

/* Dark Theme */
.dark-theme {
  background: #333333; /* Dark background */
  color: hsl(200, 100%, 90%); /* Light text color */
}

.dark-theme .btn {
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  color: hsl(200, 100%, 50%);
}

.dark-theme .new-item-form input,
.dark-theme .edit-input {
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%); /* Dark input background */
  color: hsl(200, 100%, 90%); /* Light input text color */
}

/* Other styles */
.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn-edit {
  background: #555; /* Darker edit button for better visibility */
  border: 1px solid hsl(197, 99%, 31%);
  color: hsl(197, 100%, 42%);
}

.btn.btn-danger {
  background: hsl(0, 100%, 40%, 0.1);
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.todo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.edit-input {
  flex-grow: 1;
  padding: 0.5em;
}

.new-item-form input,
.edit-input {
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}

.new-item-form input:focus,
.edit-input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}
